@media (min-width: 1025px) {
  .h-custom {
      height: 100vh !important;
      margin-bottom: 10rem;
  }
}

.cart-border{
  background-color: #cbd5e0; /* Kolor tła z body */
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.summary{
  background-color: #cbd5e0; /* Kolor tła z body */
}

.gradient-border-btn {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  color: #000000 !important;
  background-color: #cbd5e0; /* Kolor tła z body */
  border: none;
  border-radius: 8px; /* Zaokrąglone rogi */
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.gradient-border-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #bbc6d2, #c6bef5, #2b6cb0, #5c65b5);
  background-size: 300% 300%;
  animation: gradient-animation 10s infinite;
  z-index: -1;
  border-radius: 6px; /* Dopasowane do obramowania */
}

.gradient-border-btn::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  background-color: #cbd5e0; /* Kolor tła z body */
  border-radius: 6px; /* Dopasowane do zaokrąglenia */
  z-index: -1;
}

.gradient-border-btn:hover {
  color: #fff;
  background-color: rgb(175, 48, 132); /* Jaśniejsze tło po najechaniu */
  border-radius: 6px; /* Dopasowane do zaokrąglenia */
}

@keyframes gradient-animation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.empty-cart-message {
  text-align: center;
  color: black; /* Stonowany różowy odcień pasujący do stylu */
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 2rem;
  background-color: #cbd5e0; /* Kolor tła z body */
  padding: 1rem;
}

.empty-cart-container {
  margin: 1rem 1rem ;
  text-align: center;
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 1px 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.back-to-products {
  display: inline-block;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #5358bf; /* Kolor przycisku zgodny z motywem */
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.back-to-products:hover {
  background-color: #a75cb5; /* Jaśniejszy odcień przycisku na hover */
  color: #ffffff;
}
