.content {
    flex: 1;
    padding: 20px;
    color: #2d3748 !important; /* Zmieniono kolor tekstu na ciemniejszy odcień szarości */
    margin-bottom: -100px;
}

html, body {
    margin: 0; /* Usunięcie domyślnych marginesów */
    padding: 0; /* Usunięcie domyślnych odstępów */
    min-width: 100%; /* Szerokość na 100% */
    min-height: 100%; /* Wysokość na 100% */
    background-color: #e2e8f0; /* Ustawiono jasnoszare tło, jak w drugim kodzie */
}

.footer {
    color: #2d3748; /* Ciemniejszy kolor tekstu w stopce */
    text-align: center;
    padding: 10px 20px;
    z-index: 900;
    position: sticky !important;
    top: calc( 100vh - 100px ) !important;
    margin-bottom: -100px;
}

.bg-body-tertiary {
    background-color: #dedef4 !important; /* Jasnoszare tło, pasujące do ogólnego motywu */
}

.footer-text {
    color: #2d3748 !important; /* Ciemniejszy odcień tekstu */
}

.copyright-text{
    color: #2d3748 !important; /* Ciemniejszy odcień tekstu */
    background-color: rgba(0, 0, 0, 0.05); /* Subtelne tło */
}
