.content {
    flex: 1; 
    padding: 20px;
    color: black !important;
    margin-bottom: -100px;
    

}

html, body {
    margin: 0; /* Usunięcie domyślnych marginesów */
    padding: 0; /* Usunięcie domyślnych odstępów */
    min-width: 100%; /* Szerokość na 100% */
    min-height: 100%; /* Wysokość na 100% */
}


.footer {
    color: #b97c7c;
    text-align: center;
    padding: 10px 20px;
    z-index: 900;
    position: sticky !important;
    top: calc( 100vh - 100px ) !important;
    margin-bottom: -100px;
}

.bg-body-tertiary {
    background-color:  #e8b8d9 !important;
}

.footer-text {
    color: #1c1919 !important;
}

.copyright-text{
    color: #1c1919 !important;
    background-color: rgba(0, 0, 0, 0.05);
}