{% extends 'index.html' %}
{% load static %}

{% block content %}
<!-- Sekcja z listą książek -->
<section class="book-list container">
    {% if category_tag %}
    <h2 class="section-title">Książki z kategorii: {{category_tag}}</h2>
    {% else %}
    <h2 class="section-title">Nasze książki</h2>
    {% endif %}
    <div id="gridRow" class="row">
        <!-- Pojedynczy element książki -->
         {% for book in books %}
        <div class="col-custom">
        <div class="book-item">
            {% if book.image %}
            <a href="{% url 'app_books:book-detail' pk=book.id %}">
                <img src="{{ book.image.url }}" alt="Okładka książki" class="book-image">
            </a>
            {% else %}
            <a href="{% url 'app_books:book-detail' pk=book.id %}">
                <img src="{% static 'images/blank.png' %}" alt=""  class="book-image">
            </a>
            {% endif %}
            <div class="book-info">
            <p class="book-title">{{book.title|truncatechars:30}}</p>
            <p class="book-author">{{book.author}}</p>
            <p class="book-price">Cena: {{book.price}} zł</p>
            <button data-book="{{book.id}}" data-action="add" class="btn btn-search btn-addItem">Dodaj do koszyka</button>
            </div>
        </div>
        </div>
        {% endfor %}
        <!-- Kolejne książki można dodać kopiując powyższy blok -->
    </div>
</section>


{% endblock content %}

{% block scripts %}
<script src="{% static 'js/cart.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Ky0wXR1W7b3M3hQEcyZwX5KNiYpHjQ8kFprv8+u0rK+vauus4mKcxZzK7U93vb4Q"
        crossorigin="anonymous"></script>
{% endblock scripts %}