{% extends 'index.html' %}
{% load static %}

{% block scripts %}

<script src="{% static 'js/cart.js' %}"></script>

{% endblock scripts %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="book-detail">
          <div class="row">
            <!-- Sekcja obrazu -->
            <div class="col-md-6 text-center">
              <img src="{{object.image.url }}" alt="Book Cover" class="book-image-detail">
            </div>
            <!-- Sekcja szczegółów -->
            <div class="col-md-6">
              <h1 class="book-title">{{object.title}}</h1>
              <h4 class="book-author">Autor: {{object.author}}</h4>
              <p class="book-description">
               {{object.description}}
              </p>
              <h3 class="book-price">Cena: {{object.price}}</h3>
              <button data-book="{{object.id}}" data-action="add" class="btn btn-search btn-addItem">Dodaj do koszyka</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

{% endblock content %}
  