<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetowanie hasła</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 5px solid #ddd;
            border-radius: 8px;
        }
        .footer {
            margin-top: 20px;
            font-size: 0.9em;
            color: #777;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Resetowanie hasła</h1>
        <p>Witaj {{ user.get_username }},</p>
        <p>Otrzymaliśmy prośbę o zresetowanie hasła do Twojego konta. Aby zresetować hasło, kliknij poniższy link:</p>
        <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Resetuj hasło</a></p>
        <p>Jeśli nie prosiłeś o zresetowanie hasła, zignoruj tę wiadomość.</p>
        <p>Pozdrawiamy,<br>Zespół naszej strony</p>
        <div class="footer">
            <p>&copy; 2025 Nasza Strona. Wszelkie prawa zastrzeżone.</p>
        </div>
    </div>
</body>
</html>