{% include 'index.html' %}

{% block scripts %}

{% endblock scripts %}

{% block content %}

<section class="h-100 h-custom">
    <div class="container h-100 py-5 checkout-border">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">

                <h2 class="text-center mb-4">Podsumowanie Zamówienia</h2>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="h5">Produkt</th>
                                <th scope="col" style="margin-left: 3rem;">Ilość</th>
                                <th scope="col">Cena</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if items %}
                            {% for item in items %}
                            <tr>
                                <th scope="row">
                                    <div class="d-flex align-items-center">
                                        <img src="{{ item.book.image_url }}" class="img-fluid rounded-3" style="width: 120px;" alt="{{ item.book.title }}">
                                        <div class="flex-column ms-4">
                                            <p class="mb-2">{{ item.book.title }}</p>
                                            <p class="mb-0">{{ item.book.author }}</p>
                                        </div>
                                    </div>
                                </th>
                                <td class="align-middle">{{ item.quantity }}</td>
                                <td class="align-middle">{{ item.book.price }} zł/szt</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="3" class="text-center">Twój koszyk jest pusty</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>

                <div class="card shadow-2-strong mb-5" style="border-radius: 16px;">
                    <div class="card-body p-4 summary">
                        <h4>Metoda Płatności</h4>
                        <form>
                            <div class="d-flex flex-column mb-4">
                                <div class="d-flex align-items-center mb-3">
                                    <input class="form-check-input me-2" type="radio" name="paymentMethod" id="creditCard" value="credit" checked>
                                    <label class="form-check-label w-100 p-3 rounded border">Karta Kredytowa</label>
                                </div>
                                <div class="d-flex align-items-center mb-3">
                                    <input class="form-check-input me-2" type="radio" name="paymentMethod" id="debitCard" value="debit">
                                    <label class="form-check-label w-100 p-3 rounded border">Karta Debetowa</label>
                                </div>
                                <div class="d-flex align-items-center mb-3">
                                    <input class="form-check-input me-2" type="radio" name="paymentMethod" id="paypal" value="paypal">
                                    <label class="form-check-label w-100 p-3 rounded border">PayPal</label>
                                </div>
                            </div>

                            <hr>

                            <h4>Podsumowanie</h4>
                            <div class="d-flex justify-content-between mb-2">
                                <p>Łączna Ilość Produktów:</p>
                                <p>{{ order.get_cart_items }}</p>
                            </div>
                            <div class="d-flex justify-content-between mb-2">
                                <p>Wartość Zamówienia:</p>
                                <p>{{ order.get_cart_total }} zł</p>
                            </div>

                            <!-- Opcjonalnie dodaj inne opłaty, np. podatki lub zniżki -->
                            
                            <hr>

                            <div class="d-flex justify-content-between mb-4">
                                <p><strong>Cena Całkowita:</strong></p>
                                <p><strong>{{ order.get_cart_total }} zł</strong></p>
                            </div>

                            <!-- Przycisk do dokonania płatności -->
                            <button type='submit' id='make-payment' class='btn btn-lg btn-block gradient-border-btn'>
                                Zapłać {{ order.get_cart_total }} zł
                            </button>

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


{% endblock content%}