{% extends 'index.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/reset_password_sent.css' %}">
{% endblock styles %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="header-title">Instrukcje wysłane</h3>
                </div>
                <div class="card-body">
                    <p>Instrukcje dotyczące resetowania hasła zostały wysłane na podany adres e-mail. Sprawdź swoją skrzynkę odbiorczą i postępuj zgodnie z instrukcjami, aby ustawić nowe hasło.</p>
                    <a class="btn btn-primary btn-block" href="{% url 'app_users:login-register' %}">Powrót do logowania</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}