{% extends 'index.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/reset_password_complete.css' %}">
{% endblock styles %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="header-title">Hasło zresetowane</h3>
                </div>
                <div class="card-body">
                    <p>Twoje hasło zostało pomyślnie zresetowane. Możesz teraz zalogować się, używając nowego hasła.</p>
                    <a class="btn btn-primary btn-block" href="{% url 'app_users:login-register' %}">Przejdź do logowania</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}