{% extends 'index.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
{% endblock styles %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="header-title">Zapomniałeś hasła?</h3>
                    <a class="backButton" href="{% url 'app_users:login-register' %}">
                        Powrót
                    </a>
                </div>
                <div class="card-body">
                    <p>Podaj poniżej swój adres e-mail, a wyślemy instrukcje dotyczące ustawienia nowego.</p>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-block">Prześlij</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}