{% extends 'index.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock styles %}

{% block scripts %}

<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
<script>
  var total = '{{order.get_cart_total}}';
</script>

{% endblock %}

{% block content %}

<section class="h-100 h-custom" >
    <div class="container h-100 py-5 cart-border">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
  
          <div class="table-responsive">
            <table class="table">
              {% if items %}
              <thead>
                <tr>
                  <th scope="col" class="h5">Koszyk</th>
                  <th scope="col" style="margin-left: 3rem;">Ilość</th>
                  <th scope="col">Cena</th>
                </tr>
              </thead>
              <tbody>

                {% for item in items %}
                <tr>
                  <th scope="row">
                    <div class="d-flex align-items-center">
                      {% if item.book.image.url %}
                      <img src="{{ item.book.image.url }}" alt="{% static 'images/blank.png' %}" class="img-fluid rounded-3" style="width: 120px;">
                      {% else %}
                      <img src="{% static 'images/blank.png' %}" alt="" class="img-fluid rounded-3" style="width: 120px;">
                      {% endif %}
                      <div class="flex-column ms-4">
                        <p class="mb-2">{{item.book.title}}</p>
                        <p class="mb-0">{{item.book.author}}</p>
                      </div>
                    </div>
                  </th>
                  <td class="align-middle">
                    <div class="d-flex flex-row align-items-center">
                      <p id="quantity-count" style="margin-top: 18px;">{{item.quantity}}</p>
                      <button data-book="{{item.book.id}}" data-action="add" class="btn btn-link px-2 btn-addItem">
                        <i class="bi bi-arrow-up"></i>
                      </button>
                      <button data-book="{{item.book.id}}" data-action="remove" class="btn btn-link px-2 btn-addItem">
                        <i class="bi bi-arrow-down"></i>
                      </button>
                    </div>
                  </td>
                  <td class="align-middle">{{item.book.price}} zł/szt</td>
                </tr>
                {% endfor %}
                {% else %}
                  <div class="empty-cart-container">
                    <p class="empty-cart-message">Twój koszyk jest pusty</p>
                    <a href="{% url 'app_books:books-list' %}" class="back-to-products">Wróć do produktów</a>
                  </div>
                {% endif %}
              </tbody>
            </table>
          </div>
  
          <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
            <div class="card-body p-4 summary">
              <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0">
                  <form>
                    <div class="d-flex flex-column">
                      <div class="d-flex align-items-center mb-3">
                        <input class="form-check-input me-2" type="radio" name="paymentMethod" id="creditCard" value="credit" checked>
                        <label class="form-check-label w-100 p-3 rounded border">
                          <i class="fab fa-cc-mastercard fa-2x text-body pe-2"></i>Blik
                        </label>
                      </div>
                      <div class="d-flex align-items-center mb-3">
                        <input class="form-check-input me-2" type="radio" name="paymentMethod" id="debitCard" value="debit">
                        <label class="form-check-label w-100 p-3 rounded border">
                          <i class="fab fa-cc-visa fa-2x text-body pe-2"></i>Przelew
                        </label>
                      </div>
                      <div class="d-flex align-items-center">
                        <input class="form-check-input me-2" type="radio" name="paymentMethod" id="paypal" value="paypal">
                        <label class="form-check-label w-100 p-3 rounded border">
                          <i class="fab fa-cc-paypal fa-2x text-body pe-2"></i>PayPal
                        </label>
                      </div>
                    </div>
                  </form>
                </div>
  
  
                <div class="col-lg-4 col-xl-3">
                  <div class="d-flex justify-content-between mb-2">
                    <p class="mb-0">Ilość produktów</p>
                    <p class="mb-0">{{order.get_cart_items}}</p>
                  </div>
                  <div class="d-flex justify-content-between mb-2">
                    <p class="mb-0">Wartość zamównienia</p>
                    <p class="mb-0">{{order.get_cart_total}} zł</p>
                  </div>
                  <div class="d-flex justify-content-between mb-2">
                    <p class="mb-0">Przesyłka</p>
                    <p class="mb-0"><b>W CENIE!</b></p>
                  </div>
                  <hr class="my-4">
                  <div class="d-flex justify-content-between mb-4">
                    <p class="mb-0">Cena całkowita</p>
                    <p class="mb-0">{{order.get_cart_total}} zł</p>
                  </div>
                  {% if order.get_cart_items %}
                  <button id="make-payment" class="btn btn-lg btn-block gradient-border-btn">
                    <div class="d-flex justify-content-between">
                      <span>Zapłać</span>
                      <span>{{order.get_cart_total}} zł</span>
                    </div>
                  </button>
                  {% else %}
                  <button id="make-payment" class="btn btn-lg btn-block gradient-border-btn" disabled>
                    <div class="d-flex justify-content-center" >
                      <span>Brak produktów</span>
                    </div>
                  </button>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  

{% endblock content %}